@model Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="CreateEdit" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">@((Model.Product == null || Model.Product.Id == 0) ? "Create": "Edit") Product</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="Product.Id" />
        <div class="row mb-3">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control" ></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" name="file" id="file" class="form-control" />
        </div>
        <div class="row mb-3">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-select" >
                <option selected disabled>Select Category</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        @if(Model.Product == null || Model.Product.Id == 0)
        {
            <button type="submit" class="btn btn-primary" onclick="return ValidateEmpty()">Create</button> 
        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>   
        }
    </div>
    <a asp-action="Index" asp-controller="Product">Back to List</a>
</form>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateEmpty()
        {
            if(document.getElementById("file").value=="")
            {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Upload Image!'
                });
                return false;
            }
        }
    </script>
}